[submodule "artery-font-format"]
	path = artery-font-format
	url = https://github.com/m-musona/artery-font-format.git
[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/m-musona/msdfgen.git
